.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto 2rem auto;
    gap: 2rem;
    padding: 1rem 2rem;
    width: fit-content;
    background: #15001d;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    color: white;
    margin-top: auto;
}

.pagination button {
    padding: 0.5rem 1rem;
    background: #7a2a8a;
    color: white;
    border: none;
    cursor: pointer;
}

.pagination button:disabled {
    background: #ccc;
    cursor: not-allowed;
}