body {
  margin: 0;
  background-color:#15001d ;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100%;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}
/*css de la navbar*/

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 6px;
    background-color:#15001d;
    width: 100%;
    border-bottom: #E8DEF8 solid 1px;
}
.navbar_links{
    display: flex;
    gap : 10rem;
    padding-bottom: 0px;
   margin-block: 10px;
}
.container_links{
    display:flex;
    gap : 7rem;
    border-style: solid;
    border-width:1px;
    border-radius: 12px;
    border-color:#E8DEF8;
    padding-inline: 7rem;
    padding-block: 2px;
}
.navbar_logo img{
    width: 10rem;
    padding-top: 5px;
    position: static;
}

/*css de ma page de recommendation*/
.movie img{
    width: 100px;
    height: 140px;
    display: flex;
    justify-self: center;
    
}
.discription{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    font-size: small;
    
   
}
.movie{
    height: 200px;
    width:150px;
    background-color: rgb(61, 9, 67);
    border-radius: 15px;
    padding-top: 15px;
    margin-top: 15px;
}
.recommendationsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2rem;
}

/*css de mon footer*/
footer {
    background-color: #15001d;
    color: #E8DEF8;
    border-top: #E8DEF8 solid 1px;
}