.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 6px;
    background-color:#15001d;
    width: 100%;
    border-bottom: #E8DEF8 solid 1px;
}
.navbar_links{
    display: flex;
    gap : 10rem;
    padding-bottom: 0px;
   margin-block: 10px;
}
.container_links{
    display:flex;
    gap : 7rem;
    border-style: solid;
    border-width:1px;
    border-radius: 12px;
    border-color:#E8DEF8;
    padding-inline: 7rem;
    padding-block: 2px;
}
.navbar_logo img{
    width: 10rem;
    padding-top: 5px;
    position: static;
}
.nav_link{
    color: #9c03be;
}