.StarsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:40px;
}
.Stars {
    display: flex;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 800;
}
.Note{
    padding-top: 3px;
    padding-right:3px;
    color: #f5c518;
}

.Star-wrapper {
    width: 22px;
    height:22px;
}

.Star {
    color:white;
    transition: 0.2s;
}

.Full {
    color: #f5c518;
}
.Half {
    color: #f5c518;
    width: 38%;
    overflow: hidden;
    display: inline-block;
}
