.condition-2{
    padding-left: 2.5rem;
    padding-top: 3rem;
    font-size: larger;
    color: brown;
}
.condition{
    padding-left: 2.5rem;
    padding-top: 3rem;
    font-size: larger;
}
body{
    height: 100%;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
